body {
    background: white;
}
h1 {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.35;
    padding-left: 15px;
}
input:hover {
    cursor: pointer;
}
.calcButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
.calcButton:hover {
    color: black;
    background-color: darkgreen;
}
table {
    border-collapse: separate;
    border-spacing: 15px 20px;
}
.result-table {
    border-spacing: 1px;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}